@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: montserrat;
}

.yellow-bg{
  background: rgb(210, 172, 42);
}

.text-opinion {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 26px;
}

.box-shadow {
  box-shadow: 10px 10px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-30-70 {
  display: grid;
  grid-template-columns: 30% 70%;
}

.width-20vh {
  width: 20vh;
}

.text-justify {
  text-align: justify;
}

.no-textDecoration {
  text-decoration: none;
  background-color: transparent;
}

.no-textDecoration:hover {
  text-decoration: none;
  background-color: transparent;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-70 {
  font-size: 70px;
}

.font-size-50 {
  font-size: 50px;
}

.img-full {
  width: 100%;
}

.bg-whitesmoke {
  background-color: whitesmoke;
}

.title-text {
  font-size: 3rem;
  color: var(--darker-golden);
  font-family: "Playfair Display", Arial, serif;
}

.center-father {
  position: relative;
}

.center-son {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*NAVBAR*/
#myNavbar {
  background-color: black;
}

#myNavbar img {
  height: m;
}

#mySidebar a {
  font-size: x-large;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#mySidebar hr {
  color: whitesmoke;
}


.w3-hide-small a {
  font-size: large;
  color: white;
  margin-top: 1.5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button-openNavbar {
  margin-top: 3%;
  color: white;
}

/*HOME SECTION*/
.home {
  background: rgb(210, 172, 42);
  background: linear-gradient(90deg, rgba(210, 172, 42, 1) 0%, rgba(242, 242, 242, 1) 50%, rgba(210, 172, 42, 1) 100%);
  padding-top: 55px;
}

.home .info {
  padding: 5vh;
}

.home .info h3 {
  font-family: "Playfair Display", Arial, serif;
  font-size: 65px;
}

.home .info span {
  text-decoration: underline;
}

.home .info p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

/* CSS */
.button-24 {
  background: rgb(210, 172, 42);
  border: 1px solid white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 25px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 20px 30px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: rgb(210, 172, 42);
}

.button-24:active {
  opacity: .5;
}

.no-hover:hover {
  background-color: transparent;
  color: black;
}

.home .info button:hover {
  background-color: #F2F2F2;
}

.home img {
  margin-bottom: 0;
  padding-bottom: 0;
}

.mainPart2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.mainPart2 button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.mainPart2 .text-container {
  background-color: whitesmoke;
  /* border-radius: 2rem; */
  /* margin: 2vh 10vw 0 10vw; */
  padding: 5vw;
}

.mainPart2 h1 {
  font-size: 3rem;
  color: var(--darker-golden);
  font-family: "Playfair Display", Arial, serif;
}

.mainPart2 p {
  font-size: 1rem;
  color: black;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.galery img {
  width: 100%;
}

/*BANNER*/
.banner {
  width: 100%;
  background-color: black;
  background-size: cover;
  font-size: 30px;
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  font-family: 'Courier New', Courier, monospace;
}

.banner input {
  font-size: 40px;
  width: 70%;
  text-align: center;
}

.big-text {
  font-size: 100px;
  font-weight: 800;
  animation-delay: 1s;
}

.banner a {
  display: inline-block;
  background: #fff;
  color: #36465d;
  text-transform: uppercase;
  padding: 15px;
  text-decoration: none;
  font-size: 25px;
  transition: .3s;
  margin-top: 2vh;
}

.banner a:hover {
  background: #333;
  color: #fff;
  padding: 15px 20px;
}

/*COURSES*/

.courses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.courses img {
  max-width: 40vw;
}

.courses h2 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.courses p {
  font-size: 16px;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
  background-color: black;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer img {
  width: 250px;
}


/*RESPONSIVE*/
@media (max-width: 1138px) {
  .center-mobile{
    text-align: center;
  }
  .right-mobile{
    text-align: right;
  }

  .grid-2{
    grid-template-columns: repeat(1,1fr);
  }

  .home {
    padding-top: 70px;
  }

  .home .info {
    padding: 20px;
  }

  .home .info h3 {
    font-size: 27px;
  }

  .home .info p {
    font-size: 20px;
  }

  .big-text {
    font-size: 30px;
  }

  .banner input {
    width: 90%;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
  }

  .banner a {
    font-size: 15px;
  }

  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  iframe{
    width: 90%;
  }

  footer {
    grid-template-columns: repeat(1, 1fr);
  }



}