@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: montserrat;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../img/loaderWeb.png') 50% 50% no-repeat rgb(249, 249, 249);
  opacity: 1;
}

.yellow-bg {
  background: rgb(210, 172, 42);
}
.grey-bg{
  background-color: #707070;
}
.white-bg{
  background-color: white;
}
.up-10px{
  position: relative;
  top: 10px;
}
.text-opinion {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 36px;
}
.box-shadow {
  box-shadow: 10px 10px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-4{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-30-70 {
  display: grid;
  grid-template-columns: 30% 70%;
}

.width-20vh {
  width: 20vh;
}

.text-justify {
  text-align: justify;
}

.no-textDecoration {
  text-decoration: none;
  background-color: transparent;
}

.no-textDecoration:hover {
  text-decoration: none;
  background-color: transparent;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-70 {
  font-size: 70px;
}

.font-size-50 {
  font-size: 50px;
}

.img-full {
  width: 100%;
}

.bg-whitesmoke {
  background-color: whitesmoke;
}

.title-text {
  font-size: 3rem;
  color: var(--darker-golden);
  font-family: "Playfair Display", Arial, serif;
}

.pb-20{
  padding-bottom: 20px;
}

/*NAVBAR*/
#myNavbar {
  background-color: black;
}
#myNavbar a:hover{
  background-color: #ffeb3b !important;
  border-radius: 5px;
  text-decoration: none;
}

#myNavbar img {
  height: m;
}

#mySidebar a {
  font-size: x-large;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#mySidebar hr {
  color: whitesmoke;
}


.w3-hide-small a {
  font-size: large;
  color: white;
  margin-top: 1.5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button-openNavbar {
  margin-top: 3%;
  color: white;
}

/*HOME SECTION*/
.home {
  /* background: rgb(210, 172, 42); */
  /* background: linear-gradient(90deg, rgba(210, 172, 42, 1) 0%, rgba(242, 242, 242, 1) 50%, rgba(210, 172, 42, 1) 100%); */
  padding-top: 60px;
}


@media (max-width: 1138px) {
  .home {
    padding-top: 60px !important;
  }
  .cursosBanner .grid-4 {
    display: none;
  }
  #cursos{
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .loader {
    background: url('../img/loaderMovil.png') 50% 50% no-repeat rgb(249, 249, 249);
  }
  .grid-3{
    grid-template-columns: repeat(1,1fr);
  }
  .grid-4{
    grid-template-columns: repeat(1,1fr);
  }
}

/* .home img {
  width: 100%;
}

.home .info {
  padding: 5vh;
}

.home .info h3 {
  font-family: "Playfair Display", Arial, serif;
  font-size: 65px;
}

.home .info span {
  text-decoration: underline;
}

.home .info p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
} */

.carousel-indicators li {
  display: none;
}

.cursosBanner .grid-4 div {
  padding: 10px;
}

.cursosBanner .grid-4 i {
  font-size: 45px;
  padding-top: 30px;
}

.cursosBanner .grid-4 img {
  width: 60px;
  padding-top: 20px;
}

.cursosBanner h2 {
  font-size: 1rem;
  color: black;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* CSS */
.button-24 {
  background: rgb(210, 172, 42);
  border: 1px solid white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 25px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 20px 30px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: rgb(210, 172, 42);
}

.button-24:active {
  opacity: .5;
}

.no-hover:hover {
  background-color: transparent;
  color: black;
}

.home .info button:hover {
  background-color: #F2F2F2;
}

.home img {
  margin-bottom: 0;
  padding-bottom: 0;
}

.mainPart2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.mainPart2 button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.mainPart2 .text-container {
  background-color: whitesmoke;
  /* border-radius: 2rem; */
  /* margin: 2vh 10vw 0 10vw; */
  padding: 5vw;
}

.mainPart2 h1 {
  font-size: 3rem;
  color: var(--darker-golden);
  font-family: "Playfair Display", Arial, serif;
}

.mainPart2 p {
  font-size: 1rem;
  color: black;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.galery img {
  width: 70%;
}

/*BANNER*/
.banner {
  width: 100%;
  background-color: black;
  background-size: cover;
  font-size: 30px;
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  font-family: 'Courier New', Courier, monospace;
}

.banner input {
  font-size: 40px;
  width: 70%;
  text-align: center;
}

.big-text {
  font-size: 100px;
  font-weight: 800;
  animation-delay: 1s;
}

.banner a {
  display: inline-block;
  background: #fff;
  color: #36465d;
  text-transform: uppercase;
  padding: 15px;
  text-decoration: none;
  font-size: 25px;
  transition: .3s;
  margin-top: 2vh;
}

.banner a:hover {
  background: #333;
  color: #fff;
  padding: 15px 20px;
}

#cursoespecial{
  background-image: url("../img/fondoLentes.png");
  padding: 5px;
  background-repeat: no-repeat;
  background-size: 100%;
}
#cursoespecial h2{
  color: orange;
  margin: 2px;
}
#cursoespecial h2 span{
  font-weight: bold;
}
#cursoespecial h1{
  font-size: 170px;
}
#cursoespecial h1 span{
  font-size: 50px;
}

/*COURSES*/
#cursos {
  margin-right: 100px;
  margin-left: 100px;
}

#cursos div {
  background-color: #F2F2F2;
  margin: 25px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 5px #dadada;
  /* box-shadow: 2px 2px 5px 5px #ffeb3b; */
}
#cursos div:hover{
    box-shadow: 2px 2px 5px 5px #ffeb3b;
}

#cursos div img {
  margin: 0;  
  width: 60%;
  border-radius: 15px;
}

#cursos h4{
  font-size: 30px;
  padding-top: 20px;
  padding-bottom:20px ;
  font-weight: bolder;
}
#cursos p{
  font-size: 18px;
  padding-bottom: 20px;
}
#cursos h5{
  font-weight: bolder;
  padding-bottom: 10px;
}

#cursos div {
  background-color: white;
  padding: 10px;
}

/*ANIMATED BUTTON FOR SEE MORE*/
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
 }
 
 .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #ffeb3b;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
 }
 
 .cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: black;
 }
 
 .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: black;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
 }
 
 .cta:hover:before {
  width: 100%;
  background: #ffeb3b;
 }
 
 .cta:hover svg {
  transform: translateX(0);
 }
 
 .cta:active {
  transform: scale(0.95);
 }

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
  background-color: black;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer img {
  width: 250px;
}

/*RESPONSIVE*/
@media (max-width: 1200px) {
  .center-mobile {
    text-align: center;
  }

  .right-mobile {
    text-align: right;
  }

  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .home {
    padding-top: 70px;
  }

  .home .info {
    padding: 20px;
  }

  .home .info h3 {
    font-size: 27px;
  }

  .home .info p {
    font-size: 20px;
  }

  .cursosBanner .grid-3 div {
    height: 60px;
    padding: 0;
  }

  .cursosBanner .grid-3 i {
    text-align: center;
    padding-top: 0;
  }

  .cursosBanner .grid-3 p {
    display: none;
  }

  .cursosBanner .grid-3 h2 {
    display: none;
  }

  .grid-30-70 {
    grid-template-columns: repeat(1, 1fr);
  }

  .big-text {
    font-size: 30px;
  }

  .banner input {
    width: 90%;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
  }

  .banner a {
    font-size: 15px;
  }


  #cursos {
    grid-template-columns: repeat(2, 1fr);
  }

  iframe {
    width: 90%;
  }

  footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*RESPONSIVE*/
@media (max-width: 570px ) {
  .center-mobile {
    text-align: center;
  }

  .right-mobile {
    text-align: right;
  }

  .grid-2 {
    grid-template-columns: repeat(1, 1fr);
  }

  .home {
    padding-top: 70px;
  }

  .home .info {
    padding: 20px;
  }

  .home .info h3 {
    font-size: 27px;
  }

  .home .info p {
    font-size: 20px;
  }

  .cursosBanner .grid-3 div {
    height: 60px;
    padding: 0;
  }

  .cursosBanner .grid-3 i {
    text-align: center;
    padding-top: 0;
  }

  .cursosBanner .grid-3 p {
    display: none;
  }

  .cursosBanner .grid-3 h2 {
    display: none;
  }

  .grid-30-70 {
    grid-template-columns: repeat(1, 1fr);
  }

  .big-text {
    font-size: 30px;
  }

  .banner input {
    width: 90%;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
  }

  .banner a {
    font-size: 15px;
  }


  #cursos {
    grid-template-columns: repeat(1, 1fr);
  }

  iframe {
    width: 90%;
  }

  footer {
    grid-template-columns: repeat(1, 1fr);
  }
}